
<h3>Menus</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Prix</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let menu of menus">
    <td>{{ menu.nom }}</td>
    <td>{{ menu.description }}</td>
    <td>{{ menu.prix | currency:'EUR' }}</td>
    <td>
      <a [routerLink]="['menus/edit', menu.id]" class="btn btn-sm btn-primary">Modifier</a>
      <button class="btn btn-sm btn-danger" (click)="delete(menu.id!)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
