.image_nav{
position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* ligne courbe en bas */
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.3);
}

.header-overlay h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: ellipse(120% 100% at 50% 0%);
}
